<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <File name="FILE" fileName="${basePath}/serverlogfile.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="geekbrains.mchart.Server" level="info">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Logger name="geekbrains.mchart.InMemoryAuthenticationProvider" level="info">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Logger name="geekbrains.mchart.ClientHandler" level="info">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Root level="fatal">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>

